.container{
  height: 100vh;
  margin: 0;
  padding: 0;
  display:grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

.equipmentfooter{
  grid-row: 10/11;
  grid-column: 4/6;
  justify-self: center;
  align-self: center;
}
.containercadastro{
  display: grid;
  grid-template-rows: repeat(4,1fr);
  grid-template-columns: repeat(6,1fr);
  align-items: center;
  grid-row: 3/8;
  grid-column: 4/6;
}
.containerform{
  width: 100%;
  height: 100%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  grid-row: 2/8;
  grid-column: 4/6;

}
.containerbtn{
  grid-row: 3/4;
  grid-column: 1/3;
  padding-top: 10px;
}
.containerobs{
  grid-row: 2/3;
  grid-column: 6/7;
}
.obsbtn {
  width: 150px;
  height: 25px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: transform 0.3s;
  color: #2e1c1c;
  background-color: #ff6b35;
}


.textNumeroSerie, .textMarca, .textModelo {
  font-size: 14px;
  font-weight: 600;
  color: #344955;
  display: block;
  margin-bottom: 6px;
}

.Numeroserieinput, .ModuleInput, .Marcainput {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  border-color: #DCE5E3;
  background-color: #fff;
  color: #1a1f36;
  transition: border 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 16px rgba(0,0,0,0.18);
}

.Numeroserieinput:focus, .ModuleInput:focus, .Marcainput:focus {
  border-color: #3FBFAD;
  box-shadow: 0 0 0 4px rgba(63, 191, 173, 0.2);
  outline: none;
}