.Login {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  background-color: #ffffff;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  border: 0;
  padding: 0;
}
<<<<<<< HEAD
.botao{
=======

.logo{
  width: 600px;
  height: auto;
}

.Tpainel{
  margin-bottom: 25px;
  color: #344955;
  font-size: 24px;
}

.Tuser {
  font-size: 14px;
  font-weight: 600;
  color: #4a2b2b;
  display: block;
  margin-bottom: 6px;
 
}

.Tacess {
  font-size: 14px;
  font-weight: 600;
  color: #4a2b2b;
  display: block;
  margin-bottom: 6px;
}

.Carduser{
  width: 250px;
  padding: 12px 14px;
  border: 1px solid #DCE5E3;
  border-radius: 12px;
  background: #FFFFFF;
  color: #1a1f36;
  font-size: 15px;
  transition: all 0.2s ease;

}

.Carduser:focus {
  border-color: #b0e5f0; 
  box-shadow: 0 0 0 4px rgba(63, 191, 173, 0.2); 
  outline: none;
}

.Cardacess{
   width: 250px;
  padding: 12px 14px;
  border: 1px solid #DCE5E3;
  border-radius: 12px;
  background: #FFFFFF;
  color: #1a1f36;
  font-size: 15px;
  transition: all 0.2s ease;
}

.Cardacess:focus {
  border-color: #b0e5f0; 
  box-shadow: 0 0 0 4px rgba(63, 191, 173, 0.2); 
  outline: none;
}

.btnLogin {
>>>>>>> origin/washington
  width: 150px;
  height: 35px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
  transition: all 0.25s ease-in-out; 
  color: #2e1c1c;
  background-color: #ff6b35;
}

.btnLogin:hover {
  background-color: #E85A29; 
  cursor: pointer;
<<<<<<< HEAD
  transform: scale(1.1);
}
a{
  grid-column:4/6;
  grid-row:5/6;
}
h2{
  grid-column:4/6;
  grid-row:2/3;
}
.titulo{
  margin-bottom: 25px;
  color: #344955;
  font-size: 24px;
}

.logo{
  width: 600px;
  height: auto;
  grid-column: 4/6;
  grid-row: 1/2;
}

.formSenha{
   width: 250px;
  padding: 12px 14px;
  border: 1px solid #DCE5E3;
  border-radius: 12px;
  background: #FFFFFF;
  color: #1a1f36;
  font-size: 15px;
  transition: all 0.2s ease;

}

.formSenha:focus {
  border-color: #3FBFAD; 
  box-shadow: 0 0 0 4px rgba(63, 191, 173, 0.2); 
  outline: none;
}

.formCPF{
   width: 250px;
  padding: 12px 14px;
  border: 1px solid #DCE5E3;
  border-radius: 12px;
  background: #FFFFFF;
  color: #1a1f36;
  font-size: 15px;
  transition: all 0.2s ease;
}

.formCPF:focus {
  border-color: #3FBFAD; 
  box-shadow: 0 0 0 4px rgba(63, 191, 173, 0.2); 
  outline: none;
}

.fieldCPF{
   font-size: 14px;
  font-weight: 600;
  color: #344955;
  display: block;
  margin-bottom: 6px;
  grid-column: 4/6;
  grid-row: 3/4;
  padding-left: 20.5px;
}

.fieldSenha{
   font-size: 14px;
  font-weight: 600;
  color: #344955;
  display: block;
  margin-bottom: 6px;
  grid-column: 4/6;
  grid-row: 4/5;

=======
  transform: scale(1.05);
}

.btnLogin:active {
    transform: scale(0.98);
>>>>>>> origin/washington
}