.container{
  height: 100vh;
  margin: 0;
  padding: 0;
  display:grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(10, 1fr);
}
.containerfooter {
  display:flex;
  grid-column: 4/6;
  grid-row: 10/11;
  justify-self: center;
}
.obsform {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  grid-column: 4/6;
  grid-row: 3/6;
  justify-content: space-between;
  align-items: center
}
.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    width: 100%;
}
.fieldContainer {
  display: flex;
  align-items: center;
}

.label {
  font-weight: bold;
  color: #4a2b2b;
  width: 200px;
  text-align: right;
  padding-right: 10px;
}

.inputField, .textAreaField{
  flex-grow: 1;
  padding: 10px;
  border-radius: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-color: #DCE5E3;
  background-color: #fff;
  color: #1a1f36;
  transition: border 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 16px rgba(0,0,0,0.18);
}

.textAreaField {
  resize: vertical;
}

.saveButton {
  width: 150px;
  border: none;
  margin-top: 20px;
  padding: 8px 16px;
  font-size: 14px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: transform 0.3s; 
  color: #2e1c1c;
  background-color: #ff6b35;
  box-shadow: 0 4px 16px rgba(0,0,0,0.18);
}

.saveButton:hover {
  background-color: #E85A35;
  cursor: pointer;
  transform: scale(1.1);
}
.saveButton:active {
    transform: scale(0.98);
}

.uploadContainer {
  flex-grow: 1;
  padding: 10px;
  border-radius: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-color: #DCE5E3;
  background-color: #fff;
  color: #1a1f36;
  transition: border 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 16px rgba(0,0,0,0.18);
}

.fileInput {
  display: none;
}

.uploadLabel {
  display: inline-block;
  padding: 10px 15px;
  background-color: #f0e6e6;
  border-radius: 8px;
  cursor: pointer;
}
